.settings h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.settings .avatar {
  width: 64px;
  height: 64px;
  background-size: cover;
  border-radius: 100%;
}

.settings .banner {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 12px;
}

.settings .image-settings {
  position: relative;
  width: 100%;
  height: 145px;
  margin-block-end: 45px;
}

.settings .image-settings > div {
  position: absolute;
}

.settings .image-settings .avatar-stack {
  bottom: -32px;
}

.settings .image-settings .avatar-stack .btn-rnd {
  position: absolute;
  padding: 0;
  width: 32px;
  height: 32px;
  right: -10px;
  bottom: -10px;
}

.settings .image-settings .banner button {
  right: 16px;
  top: 12px;
  position: absolute;
}

.settings .editor textarea {
  resize: vertical;
  max-height: 300px;
  min-height: 40px;
}

.settings .actions {
  margin-top: 16px;
}

.settings small {
  font-size: 14px;
  color: var(--font-secondary-color);
}
