.settings-nav {
  display: grid;
  grid-template-columns: 237px auto;
}

@media (max-width: 768px) {
  .settings-nav {
    grid-template-columns: auto;
  }
}

.settings-nav > div {
  border: 1px solid var(--border-color);
}

.settings-nav > div.content {
  padding: 12px 16px;
}

.settings-nav .card {
  cursor: pointer;
}

.settings-row {
  display: grid;
  grid-template-columns: 24px 1fr 24px;
  align-items: center;
  cursor: pointer;
  padding: 12px 0px 12px 16px;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
}

.settings-row.inner {
  padding: 0.8em 0;
  background-color: unset;
  border-radius: unset;
  margin: 0;
}

.settings-group-header {
  align-items: center;
  cursor: pointer;
  padding: 12px 16px;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
}

.settings-row:hover,
.settings-group-header:hover {
  color: var(--highlight);
}

.align-end {
  margin-left: auto;
}

.settings-group-header .collapse-icon > svg {
  width: 8px;
}
