.logo {
  cursor: pointer;
  text-wrap: nowrap;
}

.logo h1 {
  font-weight: 700;
  font-size: 29px;
  line-height: 23px;
  padding: 0;
  margin: 0;
}

.logo:hover {
  text-decoration: none;
}

.has-unread {
  background: var(--highlight);
  border-radius: 100%;
  width: 9px;
  height: 9px;
}

.stalker {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: 0px 0px 26px 0px rgba(139, 92, 246, 0.7) inset;
  pointer-events: none;
}

.stalker button {
  position: absolute;
  top: 50px;
  right: 50px;
  color: black;
  background-color: var(--btn-color);
  padding: 12px;
  pointer-events: all !important;
}
