@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #000;
  --header-bg-color: rgba(0, 0, 0, 0.3);
  --nearly-bg-color: #090909;
  --font-color: #fff;
  --font-secondary-color: #a7a7a7;
  --font-tertiary-color: #a3a3a3;
  --border-color: var(--gray-superdark);
  --font-size: 15px;
  --font-size-small: 13px;
  --font-size-tiny: 11px;
  --modal-bg-color: rgba(0, 0, 0, 0.8);
  --highlight: #ac88ff;
  --error: #ff6053;
  --success: #2ad544;
  --warning: #ff8800;
  --live: #f83838;
  --heart: #ef4444;
  --zap: #ff710a;
  --mention: #961ee1;
  --repost: #1ecbe1;
  --gray-superlight: #eee;
  --bg-secondary: #2a2a2a;
  --gray-light: #999;
  --gray-medium: #7b7b7b;
  --gray: #333;
  --gray-secondary: #222;
  --gray-tertiary: #444;
  --gray-dark: #2c2c2c;
  --gray-superdark: #1b1b1b;
  --gray-ultradark: #111;
  --gray-gradient: linear-gradient(to bottom right, var(--gray-superlight), var(--gray), var(--gray-light));
  --snort-gradient: linear-gradient(90deg, #a178ff 0%, #ff6baf 100%);
  --dm-gradient: linear-gradient(90deg, #5722d2 0%, #db1771 100%);
  --invoice-gradient: linear-gradient(
    45deg,
    var(--gray-superdark) 50%,
    rgba(161, 120, 255, 0.2),
    rgba(255, 107, 175, 0.2) 108.33%
  );
  --paid-invoice-gradient: linear-gradient(
    45deg,
    var(--gray-superdark) 50%,
    rgba(161, 120, 255, 0.6),
    rgba(255, 107, 175, 0.6) 108.33%
  );
  --expired-invoice-gradient: linear-gradient(45deg, var(--gray-superdark) 50%, var(--gray), var(--gray-superdark));
  --sub-bg: #111;
  --btn-color: #fff;
  --primary-bg: #ff3f15;
  --cashu-gradient: linear-gradient(90deg, #40b039, #adff2a);
  --pro: #ffdd65;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-superdark);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-tertiary);
}

html {
  -webkit-tap-highlight-color: transparent;
}

html.light {
  --bg-color: #fff;
  --header-bg-color: rgba(255, 255, 255, 0.3);
  --nearly-bg-color: #f9f9f9;
  --font-color: #0f0f0f;
  --font-secondary-color: #5c6c92;
  --font-tertiary-color: #52525b;
  --border-color: #dee1e8;
  --highlight: #7139f1;
  --modal-bg-color: #0009;
  --gray: #dee1e8;
  --gray-secondary: #aaa;
  --gray-tertiary: #bbb;
  --gray-superlight: #333;
  --gray-light: #555;
  --gray-dark: #ccc;
  --gray-superdark: #f0f0f0;
  --gray-ultradark: #fefefe;
  --dm-gradient: var(--gray);
  --invoice-gradient: linear-gradient(45deg, var(--gray-superdark) 50%, #f7b73333, #fc4a1a33);
  --paid-invoice-gradient: linear-gradient(45deg, var(--gray-superdark) 50%, #f7b73399, #fc4a1a99);
  --bg-secondary: #f5f5f5;
  --sub-bg: #fff;
  --btn-color: #fff;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: var(--font-size);
  overflow-x: hidden;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  color: inherit;
  line-height: 1.3em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.ext {
  overflow-wrap: break-word;
}

.b {
  border: 1px solid var(--border-color);
}

.bb {
  border-bottom: 1px solid var(--border-color);
}

.bg-primary {
  background: var(--primary-bg);
}

.primary {
  color: var(--primary-bg);
}

.text-pro {
  color: var(--pro);
}

.text-snort-gradient {
  background: var(--snort-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-primary {
  background: var(--primary-bg);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.br {
  border-radius: 16px;
}

.br-compact {
  border-radius: 8px;
}

.p {
  padding: 12px 16px;
}

.p-compact {
  padding: 8px 12px;
}

.p4 {
  padding: 4px;
}

.p12 {
  padding: 12px;
}

.p24 {
  padding: 24px;
}

.uppercase {
  text-transform: uppercase;
}

.card {
  padding: 12px 16px;
  border-bottom: 1px solid var(--border-color);
}

/* Card inside card */
.card .card {
  border: 1px solid var(--border-color);
  border-radius: 16px;
}

.card .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -8px;
}

.card > .footer {
  display: flex;
  flex-direction: row;
}

.card .card-title {
  font-size: x-large;
  font-weight: bold;
}

small {
  color: var(--font-secondary-color);
  font-size: 14px;
  line-height: 22px; /* 157.143% */
}

.button {
  position: relative;
  cursor: pointer;
  padding: 10px 16px;
  font-weight: 600;
  color: var(--bg-color);
  font-size: var(--font-size);
  background-color: var(--btn-color);
  border: none;
  border-radius: 100px;
  outline: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  @apply button;
  user-select: none;
}

.btn,
input,
select {
  @apply rounded-full;
}

button.primary {
  background: rgb(239, 150, 68);
  background: var(--primary-bg);
  color: #fff !important;
  border: none !important;
}

button.primary:hover {
  box-shadow: 0px 0px 10px #ff3f15 !important;
  background: var(--primary-bg) !important;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

button.secondary:disabled {
  color: var(--font-secondary-color);
  cursor: not-allowed;
}

button:disabled:hover {
  cursor: not-allowed;
  color: var(--font-color);
  border-color: var(--gray-border-color);
}

.light button.transparent {
  color: var(--font-color);
}

.light button:disabled {
  color: var(--font-color);
}

button:hover {
  background-color: var(--gray-light);
}

button.secondary {
  color: var(--font-color);
  background-color: var(--gray-dark);
}

button.transparent {
  font-weight: 400;
  color: var(--font-secondary);
  background-color: transparent;
  border: 1px solid var(--border-color);
}

button.secondary:hover {
  border: none;
  color: var(--font-color);
  background-color: var(--gray-superdark);
}

button.transparent:hover {
  color: var(--bg-color);
  background-color: var(--font-color);
}

button.icon {
  border: none;
  background: var(--bg-secondary);
  color: var(--font-color);
  width: 40px;
  height: 40px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.icon:hover {
  color: var(--highlight);
}

.button-icon-sm {
  padding: 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button-icon-sm.active {
  background: rgba(255, 255, 255, 0.1);
}

.btn {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--font-color);
  user-select: none;
  background: none;
  border: none;
  display: inline-flex;
}

.light .btn {
  color: #64748b;
}

.btn-warn {
  border-color: var(--error);
}

.btn-success {
  border-color: var(--success);
}

.btn.active {
  color: var(--font-color);
  font-weight: 700;
}

.btn.disabled {
  opacity: 0.3;
}

.btn:hover {
  color: var(--highlight);
}

.btn-sm {
  padding: 5px;
}

.circle {
  border-radius: 100%;
  aspect-ratio: 1;
}

textarea {
  font: inherit;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 600;
}

h1 {
  font-size: 32px;
  line-height: 42px;
}

h2 {
  font-size: 26px;
  line-height: 36px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 28px;
}

input[type="text"],
input[type="password"],
input[type="number"],
select,
textarea {
  padding: 8px 12px;
  color: var(--font-color);
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  /* 150% */
}

.light input[type="text"],
.light input[type="password"],
.light input[type="number"],
.light select,
.light textarea {
  border: 2px solid var(--border-color);
}

option,
optgroup {
  background-color: var(--bg-color);
}

input:placeholder,
textarea:placeholder {
  color: var(--font-tertiary-color);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input:disabled {
  color: var(--gray-medium);
  cursor: not-allowed;
}

.f-ellipsis {
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.f-wrap {
  flex-flow: wrap;
}

.g2 {
  gap: 2px;
}

.g4 {
  gap: 4px;
}

.g8 {
  gap: 8px;
}

.g12 {
  gap: 12px;
}

.g16 {
  gap: 16px;
}

.g24 {
  gap: 24px;
}

.txt-center {
  text-align: center;
}

.w-max {
  width: 100%;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
}

.w-max-w {
  max-width: 100%;
  max-width: stretch;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

div.form {
  display: grid;
  grid-auto-flow: row;
}

div.form-group {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

div.form-group > div {
  padding: 3px 5px;
}

div.form-group > div:nth-child(1) {
  display: flex;
  align-self: center;
}

div.form-group > div:nth-child(2) {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

div.form-group > div:nth-child(2) input {
  flex-grow: 1;
}

div.form-col {
  grid-auto-flow: row;
  grid-template-columns: auto;
}

.scroll-lock {
  overflow: hidden;
  height: 100vh;
}

.xs {
  font-size: small;
}

.pointer {
  cursor: pointer;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mr5 {
  margin-right: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt5 {
  margin-top: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mr-auto {
  margin-right: auto;
}

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.warning {
  color: var(--warning);
}

.bg-warning {
  background-color: var(--warning);
}

.bg-error {
  background-color: var(--error);
}

.success {
  color: var(--success);
}

.bg-success {
  background-color: var(--success);
}

.bg-zap {
  background-color: var(--zap);
}

.bg-heart {
  background-color: var(--heart);
}

.bg-mention {
  background-color: var(--mention);
}

.bg-repost {
  background-color: var(--repost);
}

.bg-dark {
  background-color: var(--gray-dark);
}

.bg-superdark {
  background-color: var(--gray-superdark);
}

.bg-ultradark {
  background-color: var(--gray-ultradark);
}

.text-zap {
  color: var(--zap);
}

.text-heart {
  color: var(--heart);
}

.text-mention {
  color: var(--mention);
}

.text-repost {
  color: var(--repost);
}

.text-gray {
  color: var(--gray);
}

.text-gray-medium {
  color: var(--gray-medium);
}

.text-gray-light {
  color: var(--gray-light);
}

@media (max-width: 720px) {
  div.form {
    grid-auto-flow: dense;
  }

  div.form-group {
    flex-direction: column;
    align-items: flex-start;
  }
}

.highlight {
  color: var(--highlight);
}

.bold {
  font-weight: 700;
}

.nowrap {
  white-space: nowrap;
}

button.tall {
  height: 40px;
}

.collapsable-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.collapsable-section .collapse-icon {
  transform: rotate(90deg);
  transition: transform 300ms ease-in-out;
}

.collapsable-section .collapse-icon.flip {
  transform: rotate(270deg);
  transition: transform 300ms ease-in-out;
}

.action-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.action-heading button {
  min-width: 98px;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.note-creator-modal .rta__textarea {
  /* Fix width calculation to account for 32px padding on input */
  width: calc(100% - 32px) !important;
  font-size: 15px !important;
}

.ctx-menu {
  color: var(--font-color) !important;
  background: transparent !important;
  min-width: 0 !important;
  margin: 0 !important;
}

.szh-menu {
  border-radius: 16px !important;
  padding: 0 !important;
}

.ctx-menu li {
  background: #1e1e1e !important;
  padding: 8px 24px !important;
  display: grid !important;
  grid-template-columns: 2rem auto !important;
  font-size: 16px;
  font-weight: 600;
}

.light .ctx-menu li {
  background: #fff !important;
}

.ctx-menu li:first-of-type {
  background: transparent !important;
}

.ctx-menu li:nth-child(3) {
  padding-top: 16px !important;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}

.ctx-menu li:last-of-type {
  padding-bottom: 16px !important;
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.ctx-menu li:hover {
  color: white !important;
  background: #2a2a2a !important;
}

.ctx-menu li:hover:first-of-type {
  background: transparent !important;
}

.light .ctx-menu li:hover {
  color: var(--font-color) !important;
  background: #eee !important;
}

.ctx-menu .red {
  color: var(--error) !important;
}

.ctx-menu .close-menu {
  position: absolute !important;
  width: 100vw !important;
  height: 100vh !important;
  top: -400px !important;
  left: -600px !important;
}

.ctx-menu .close-menu-container {
  background: transparent !important;
  position: absolute !important;
}

svg.heart-solid {
  color: var(--heart);
}

svg.zap-solid {
  color: var(--zap);
}

svg.repeat {
  color: var(--repost);
}

.subtier {
  background: var(--sub-bg);
  border-radius: 16px;
}

.light .subtier {
  border: 1px solid var(--border-color);
}

.main-content.p:not(:last-of-type) {
  border-bottom: 0;
  border-top: 0;
}

.main-content.p:last-of-type {
  border-top: 0;
}

.light button.icon {
  border: 1px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 1px;
}

.light button.icon:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
}

.light button,
.light button.secondary {
  color: #4b5c83;
  background-color: #fff;
  border: 1px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 1px;
}

.light button:hover,
.light button.secondary:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px !important;
}

.light .modal button.secondary:hover {
  background: #fff !important;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.pb-safe-area {
  padding-bottom: calc(20vh + env(safe-area-inset-bottom));
}

.active > .icon-outline {
  display: none;
}

.active > .icon-solid {
  display: inline-block;
}

.icon-solid {
  display: none;
}

@media (min-width: 768px) {
  .rt-border {
    border-right-width: 1px;
    border-right-color: var(--border-color);
  }
}
