:root {
  --bg-color: #000;
  --font-color: #fff;
  --font-secondary-color: #a7a7a7;
  --font-tertiary-color: #a3a3a3;
  --border-color: var(--gray-superdark);
  --font-size: 15px;
  --font-size-small: 13px;
  --font-size-tiny: 11px;
  --modal-bg-color: rgba(0, 0, 0, 0.8);
  --highlight: #ac88ff;
  --error: #ff6053;
  --success: #2ad544;
  --warning: #ff8800;
  --live: #f83838;
  --heart: #ef4444;
  --zap: #ff710a;
  --gray-superlight: #eee;
  --bg-secondary: #2a2a2a;
  --gray-light: #999;
  --gray-medium: #7b7b7b;
  --gray: #333;
  --gray-secondary: #222;
  --gray-tertiary: #444;
  --gray-dark: #2c2c2c;
  --gray-superdark: #1b1b1b;
  --gray-ultradark: #111;
  --gray-gradient: linear-gradient(to bottom right, var(--gray-superlight), var(--gray), var(--gray-light));
  --snort-gradient: linear-gradient(90deg, #a178ff 0%, #ff6baf 100%);
  --dm-gradient: linear-gradient(90deg, #5722d2 0%, #db1771 100%);
  --invoice-gradient: linear-gradient(
    45deg,
    var(--gray-superdark) 50%,
    rgba(161, 120, 255, 0.2),
    rgba(255, 107, 175, 0.2) 108.33%
  );
  --paid-invoice-gradient: linear-gradient(
    45deg,
    var(--gray-superdark) 50%,
    rgba(161, 120, 255, 0.6),
    rgba(255, 107, 175, 0.6) 108.33%
  );
  --expired-invoice-gradient: linear-gradient(45deg, var(--gray-superdark) 50%, var(--gray), var(--gray-superdark));
  --strike-army-gradient: linear-gradient(to bottom right, #ccff00, #a1c900);
  --sub-bg: #111;
  --header-padding-tb: 10px;
  --btn-color: #fff;
  --primary-gradient: linear-gradient(90deg, rgba(239, 150, 68, 1) 0%, rgba(123, 65, 246, 1) 100%);
  --cashu-gradient: linear-gradient(90deg, #40b039, #adff2a);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: var(--gray-superdark);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-tertiary);
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

html.light {
  --bg-color: #fff;
  --font-color: #2f3f64;
  --font-secondary-color: #5c6c92;
  --font-tertiary-color: #52525b;
  --border-color: #dee1e8;
  --highlight: #7139f1;
  --modal-bg-color: #0009;
  --gray: #dee1e8;
  --gray-secondary: #aaa;
  --gray-tertiary: #bbb;
  --gray-superlight: #333;
  --gray-light: #555;
  --gray-dark: #ccc;
  --gray-superdark: #fff;
  --gray-ultradark: #fff;
  --dm-gradient: var(--gray);
  --invoice-gradient: linear-gradient(45deg, var(--gray-superdark) 50%, #f7b73333, #fc4a1a33);
  --paid-invoice-gradient: linear-gradient(45deg, var(--gray-superdark) 50%, #f7b73399, #fc4a1a99);
  --bg-secondary: #fff;
  --sub-bg: #fff;
  --btn-color: #fff;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--font-color);
  font-size: var(--font-size);
  overflow-x: hidden;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  overflow-x: hidden;
}

.page {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .page {
    width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-content {
    border: 1px solid var(--border-color);
  }
}

.b {
  border: 1px solid var(--border-color);
}

.bg-primary {
  background: var(--primary-gradient);
}

.br {
  border-radius: 16px;
}

.p {
  padding: 12px 16px;
}

.p24 {
  padding: 24px;
}

.uppercase {
  text-transform: uppercase;
}

.card {
  padding: 12px 16px;
  border-bottom: 1px solid var(--border-color);
}

/* Card inside card */
.card .card {
  border: 1px solid var(--border-color);
  border-radius: 16px;
  min-height: 0;
}

.card .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: -8px;
}

.card > .footer {
  display: flex;
  flex-direction: row;
}

.card .card-title {
  font-size: x-large;
  font-weight: bold;
}

button {
  cursor: pointer;
  padding: 10px 16px;
  font-weight: 600;
  color: var(--bg-color);
  font-size: var(--font-size);
  background-color: var(--btn-color);
  border: none;
  border-radius: 100px;
  outline: none;
}

button.primary {
  background: rgb(239, 150, 68);
  background: var(--primary-gradient);
  color: #fff !important;
  border: none !important;
}

button.primary:hover {
  box-shadow: 0px 1px 4px rgba(128, 29, 255, 1) !important;
  background: var(--primary-gradient) !important;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

button.secondary:disabled {
  color: var(--font-secondary-color);
  cursor: not-allowed;
}

button:disabled:hover {
  cursor: not-allowed;
  color: var(--font-color);
  border-color: var(--gray-border-color);
}

.light button.transparent {
  color: var(--font-color);
}

.light button:disabled {
  color: var(--font-color);
}

button:hover {
  background-color: var(--gray-light);
}

button.secondary {
  color: var(--font-color);
  background-color: var(--gray-dark);
}

button.transparent {
  font-weight: 400;
  color: var(--font-secondary);
  background-color: transparent;
  border: 1px solid var(--border-color);
}

button.secondary:hover {
  border: none;
  color: var(--font-color);
  background-color: var(--gray-superdark);
}

button.transparent:hover {
  color: var(--bg-color);
  background-color: var(--font-color);
}

button.icon {
  border: none;
  background: var(--bg-secondary);
  color: var(--font-color);
  width: 40px;
  height: 40px;
  padding: 10px;
}

button.icon .icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.icon:hover {
  color: var(--highlight);
}

.btn {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--font-color);
  user-select: none;
  background: none;
  border: none;
  display: inline-flex;
}

.light .btn {
  color: #64748b;
}

.btn-warn {
  border-color: var(--error);
}

.btn-success {
  border-color: var(--success);
}

.btn.active {
  color: var(--font-color);
  font-weight: 700;
}

.btn.disabled {
  opacity: 0.3;
}

.btn:hover {
  color: var(--highlight);
}

.btn-sm {
  padding: 5px;
}

.btn-rnd {
  border-radius: 100%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

textarea {
  font: inherit;
}

input[type="text"],
input[type="password"],
input[type="number"],
select,
textarea {
  padding: 8px 12px;
  color: var(--font-color);
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  outline: none;
  font-size: 15px;
  line-height: 24px;
  /* 150% */
}

.light input[type="text"],
.light input[type="password"],
.light input[type="number"],
.light select,
.light textarea {
  border: 2px solid var(--border-color);
}

option,
optgroup {
  background-color: var(--bg-color);
}

input:placeholder,
textarea:placeholder {
  color: var(--font-tertiary-color);
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

input:disabled {
  color: var(--gray-medium);
  cursor: not-allowed;
}

.flex {
  display: flex;
  align-items: center;
  min-width: 0;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.f-center {
  justify-content: center;
  align-items: center;
}

.f-1 {
  flex: 1;
}

.f-2 {
  flex: 2;
}

.f-3 {
  flex: 3;
}

.f-4 {
  flex: 4;
}

.f-grow {
  flex-grow: 1;
  min-width: 0;
}

.f-shrink {
  flex-shrink: 1;
}

.f-ellipsis {
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.f-col {
  flex-direction: column;
  align-items: flex-start !important;
}

.f-col-end {
  flex-direction: column;
  align-items: flex-end !important;
}

.f-end {
  justify-content: flex-end;
}

.f-space {
  justify-content: space-between;
}

.f-wrap {
  flex-flow: wrap;
}

.g2 {
  gap: 2px;
}

.g4 {
  gap: 4px;
}

.g8 {
  gap: 8px;
}

.g12 {
  gap: 12px;
}

.g16 {
  gap: 16px;
}

.g24 {
  gap: 24px;
}

.txt-center {
  text-align: center;
}

.w-max {
  width: 100%;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
}

.w-max-w {
  max-width: 100%;
  max-width: stretch;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

a {
  color: inherit;
  line-height: 1.3em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.ext {
  word-break: break-all;
  white-space: initial;
}

div.form {
  display: grid;
  grid-auto-flow: row;
}

div.form-group {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
}

div.form-group > div {
  padding: 3px 5px;
}

div.form-group > div:nth-child(1) {
  display: flex;
  align-self: center;
}

div.form-group > div:nth-child(2) {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

div.form-group > div:nth-child(2) input {
  flex-grow: 1;
}

div.form-col {
  grid-auto-flow: row;
  grid-template-columns: auto;
}

.scroll-lock {
  overflow: hidden;
  height: 100vh;
}

.xs {
  font-size: small;
}

.pointer {
  cursor: pointer;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mr5 {
  margin-right: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt5 {
  margin-top: 5px;
}

.ml5 {
  margin-left: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mr-auto {
  margin-right: auto;
}

.g5 {
  gap: 5px;
}

.g10 {
  gap: 10px;
}

.error {
  color: var(--error);
}

.warning {
  color: var(--warning);
}

.bg-error {
  background-color: var(--error);
}

.success {
  color: var(--success);
}

.bg-success {
  background-color: var(--success);
}

.tweet {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet div {
  width: 100%;
}

.tweet div .twitter-tweet {
  margin: 0 auto;
}

.tweet div .twitter-tweet > iframe {
  max-height: unset;
}

@media (max-width: 720px) {
  div.form {
    grid-auto-flow: dense;
  }

  div.form-group {
    flex-direction: column;
    align-items: flex-start;
  }
}

.highlight {
  color: var(--highlight);
}

.bold {
  font-weight: 700;
}

.nowrap {
  white-space: nowrap;
}

.main-content h2 {
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  margin: 12px 0 0 0;
}

.main-content .h4 {
  margin-bottom: 25px;
}

.main-content .profile-preview {
  margin: 8px 0;
}

button.tall {
  height: 40px;
}

.collapsable-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.collapsable-section .collapse-icon {
  transform: rotate(90deg);
  transition: transform 300ms ease-in-out;
}

.collapsable-section .collapse-icon.flip {
  transform: rotate(270deg);
  transition: transform 300ms ease-in-out;
}

.action-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.action-heading button {
  min-width: 98px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.rta__textarea {
  /* Fix width calculation to account for 32px padding on input */
  width: calc(100% - 32px) !important;
  font-size: 15px !important;
}

.ctx-menu {
  color: var(--font-color) !important;
  background: transparent !important;
  min-width: 0 !important;
  margin: 0 !important;
}

.szh-menu {
  border-radius: 16px !important;
  padding: 0 !important;
}

.ctx-menu li {
  background: #1e1e1e !important;
  padding: 8px 24px !important;
  display: grid !important;
  grid-template-columns: 2rem auto !important;
  font-size: 16px;
  font-weight: 600;
}

.light .ctx-menu li {
  background: #fff !important;
}

.ctx-menu li:first-of-type {
  background: transparent !important;
}

.ctx-menu li:nth-child(3) {
  padding-top: 16px !important;
  border-top-left-radius: 16px !important;
  border-top-right-radius: 16px !important;
}

.ctx-menu li:last-of-type {
  padding-bottom: 16px !important;
  border-bottom-left-radius: 16px !important;
  border-bottom-right-radius: 16px !important;
}

.ctx-menu li:hover {
  color: white !important;
  background: #2a2a2a !important;
}

.ctx-menu li:hover:first-of-type {
  background: transparent !important;
}

.light .ctx-menu li:hover {
  color: var(--font-color) !important;
  background: #eee !important;
}

.ctx-menu .red {
  color: var(--error) !important;
}

.ctx-menu .close-menu {
  position: absolute !important;
  width: 100vw !important;
  height: 100vh !important;
  top: -400px !important;
  left: -600px !important;
}

.ctx-menu .close-menu-container {
  background: transparent !important;
  position: absolute !important;
}

svg.heart-solid {
  color: var(--heart);
}

svg.zap-solid {
  color: var(--zap);
}

.subtier {
  background: var(--sub-bg);
  border-radius: 16px;
}

.light .subtier {
  border: 1px solid var(--border-color);
}

.light .spinner-button {
  background: #fff;
  border: 1px solid var(--border-color);
  color: var(--font-secondary);
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 1px;
}

.light .spinner-button:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
}

.main-content.p {
  border-bottom: 0;
  border-top: 0;
}

.light button.icon {
  border: 1px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 1px;
}

.light button.icon:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
}

.light button,
.light button.secondary {
  color: #4b5c83;
  background-color: #fff;
  border: 1px solid var(--border-color);
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 1px;
}

.light button:hover,
.light button.secondary:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px !important;
}

.light .modal button.secondary:hover {
  background: #fff !important;
}
