.logo {
  cursor: pointer;
}

.logo h1 {
  font-weight: 700;
  font-size: 29px;
  line-height: 23px;
  padding: 0;
  margin: 0;
}

.logo:hover {
  text-decoration: none;
}

header {
  display: flex;
  padding: var(--header-padding-tb) 16px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 24px;
}

.header-actions .avatar {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  width: 100%;
}

.header-actions .btn {
  border-radius: 0;
  padding: 5px;
}

.header-actions .btn .has-unread {
  background: var(--highlight);
  border-radius: 100%;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 8px;
  right: 8px;
}

@media (max-width: 520px) {
  .header-actions .btn .has-unread {
    top: 2px;
    right: 2px;
  }
}

.search {
  flex-grow: 1;
  display: flex;
  padding: 9px 16px;
  background: var(--gray-superdark);
  border-radius: 1000px;
}

.light .search {
  background: #FFF;
  border: 1px solid var(--border-color);
}

.search input {
  border: none !important;
  border-radius: 0 !important;
  font-size: 15px;
  line-height: 21px;
  padding: 0 !important;
}

@media (max-width: 768px) {
  .search {
    padding: unset;
    background: unset;
  }

  .search input {
    display: none;
  }
}