.notification-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notification-group .avatar {
  width: 40px;
  height: 40px;
}

.notification-group .pfp {
  gap: unset;
}

.notification-group .names {
  display: flex;
  gap: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
}

.notification-group .names > div:first-of-type {
  width: 24px;
}

.notification-group .content {
  margin-left: 48px;
  font-size: 14px;
  line-height: 22px;
  color: var(--font-secondary-color);
  word-break: break-all;
}
