.notification-group {
  display: flex;
  padding: 16px 24px 26px 0;
  min-height: 100px;
}

.notification-group > div:first-of-type {
  width: 64px;
  min-width: 64px;
  max-width: 64px;
  align-items: center;
}

.notification-group > div:first-of-type > div:first-of-type {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notification-group > div:first-of-type > div {
  align-self: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
}

.notification-group > div:last-of-type {
  max-width: calc(100% - 64px);
}

.notification-group .avatar {
  width: 40px;
  height: 40px;
}

.notification-group .names {
  display: flex;
  gap: 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
}

.notification-group .content {
  cursor: pointer;
  color: var(--font-secondary-color);
}

.notification-group .content img {
  width: unset;
  max-width: 100%;
  max-height: 300px; /* Cap images in notifications to 300px height */
}
