.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-top: none;
}

.profile .banner {
  width: 100%;
  height: 160px;
  object-fit: cover;
  margin-bottom: -37px;
  z-index: 0;
}

.profile .profile-actions {
  display: flex;
  align-items: center;
  align-self: flex-end;
  gap: 8px;
}

.profile .icon-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.profile .profile-actions button:not(:last-child) {
  margin-right: 8px;
}

.profile .profile-actions button.icon:not(:last-child) {
  margin-right: 0;
}

@media (min-width: 520px) {
  .profile .banner {
    width: 100%;
    max-width: 720px;
    height: 280px;
  }

  .profile .profile-actions button.icon:not(:last-child) {
    margin-right: 2px;
  }
}

.profile .profile-wrapper {
  margin: 0 16px 12px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  gap: 16px;
}

.profile p {
  white-space: pre-wrap;
}

.details-wrapper > .name > h2 {
  margin: 0 0 4px 0;
  font-weight: 600;
  font-size: 21px;
}

.details-wrapper > .name > .nip05 {
  font-size: 15px;
}

.profile-wrapper > .avatar-wrapper {
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.profile-wrapper > .avatar-wrapper .avatar {
  width: 100px;
  height: 100px;
  background-image: var(--img-url);
  border: 3px solid #fff;
}

.profile .name {
  display: flex;
  flex-direction: column;
}

.profile .about {
  color: var(--font-color);
  font-size: 16px;
  line-height: 26px;
}

.profile .about p {
  word-break: break-word;
}

.profile .about a {
  color: var(--highlight);
  text-decoration: none;
}

.profile .about a:hover {
  text-decoration: underline;
}

.profile .about .text {
  font-size: inherit;
  line-height: inherit;
}

.profile .btn-icon {
  color: var(--font-color);
  padding: 6px;
}

.profile .details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile .link-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 15px;
  line-height: 24px;
}

.profile .link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profile .website a {
  text-decoration: none;
}

.profile .website a:hover {
  text-decoration: underline;
}

.profile .link svg {
  color: var(--highlight);
}

.profile .lnurl {
  cursor: pointer;
}

.profile .lnurl:hover {
  text-decoration: underline;
}

.profile .lnurl {
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile .copy .body {
  font-size: inherit;
  line-height: inherit;
}

.qr-modal .pfp {
  flex-direction: column;
}

.qr-modal .pfp .avatar {
  width: 48px;
  height: 48px;
}

.qr-modal .pfp .avatar-wrapper {
  margin: 0 0 8px 0;
}

.qr-modal .pfp .avatar-wrapper .avatar {
  border: none;
}

.qr-modal .pfp .username {
  align-items: center;
}

.qr-modal canvas {
  border-radius: 10px;
}

.profile .zap-amount {
  font-weight: normal;
  margin-left: 4px;
}

.zaps-total {
  text-align: right;
  padding-right: 12px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
}

.profile .nip05 .nick {
  display: unset;
}

.profile .nip05 .domain {
  display: unset;
}

.badge-card .badge-icon {
  width: 48px;
  height: 48px;
  margin-right: 0.3em;
}

.badge-card .header {
  align-items: center;
  flex-direction: row;
}

.badge-card .body {
  margin-bottom: 0;
}
