.note .header .info {
  font-size: var(--font-size);
  margin-left: 4px;
  white-space: nowrap;
  color: var(--font-secondary-color);
  display: flex;
  align-items: center;
  gap: 8px;
}

.note .header .info .saved {
  margin-right: 12px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.note .header .info .saved svg {
  margin-right: 8px;
}

.note .header .pinned {
  font-size: var(--font-size-small);
  color: var(--font-secondary-color);
  font-weight: 500;
  line-height: 22px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.note .header .pinned svg {
  margin-right: 8px;
}

.note-quote {
  border: 1px solid var(--gray-superdark);
  border-radius: 12px;
  padding: 8px 16px 16px 16px;
  margin-top: 16px;
}

.note > .header img:hover {
  cursor: pointer;
}

.note > .note-creator {
  margin-top: 12px;
  margin-left: 56px;
}

.note .poll-body {
  padding: 5px;
  user-select: none;
}

.note .poll-body > div {
  border: 1px solid var(--font-secondary-color);
  border-radius: 5px;
  margin-bottom: 3px;
  position: relative;
  overflow: hidden;
}

.note .poll-body > div > div {
  padding: 5px 10px;
  z-index: 2;
}

.note .poll-body > div:hover {
  cursor: pointer;
  border: 1px solid var(--highlight);
}

.note .poll-body > div > .progress {
  background-color: var(--gray);
  height: stretch;
  height: -webkit-fill-available;
  height: -moz-available;
  position: absolute;
  z-index: 1;
}

.reaction-pill {
  user-select: none;
}

.reaction-pill:not(.reacted):not(:hover) {
  color: var(--font-secondary-color);
}

.trash-icon {
  color: var(--error);
}

.note-expand .body {
  max-height: 300px;
  overflow-y: hidden;
}

.expand-note {
  padding: 0 0 16px 0;
  font-weight: 400;
  color: var(--highlight);
  cursor: pointer;
}

.note.active {
  border-left: 1px solid var(--highlight);
  margin-left: -1px;
}

.note .reactions-link {
  color: var(--font-secondary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 4px;
  font-feature-settings: "tnum";
}

.note .reactions-link:hover {
  text-decoration: underline;
}

.note .body > .text > a {
  color: var(--highlight);
}
