.long-form-note p {
  font-family: Georgia;
  line-height: 1.7;
}

.long-form-note hr {
  border: 0;
  height: 1px;
  background-color: var(--color-neutral-700);
  margin: 5px 0px;
}

.long-form-note .reading {
  border: 1px dashed var(--highlight);
}

.long-form-note .header-image {
  height: 360px;
  background: var(--img);
  background-position: center;
  background-size: cover;
}

.long-form-note h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
}

.long-form-note small {
  font-weight: 400;
  line-height: 24px;
}

.long-form-note img:not(.custom-emoji),
.long-form-note video,
.long-form-note iframe,
.long-form-note audio {
  width: 100%;
  display: block;
}

.long-form-note iframe,
.long-form-note video {
  width: -webkit-fill-available;
  aspect-ratio: 16 / 9;
}
