.note-creator-modal .modal-body > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.note-creator-modal .note.card {
  padding: 0;
  border: none;
  min-height: unset;
}

.note-creator-modal .note.card.note-quote {
  border: 1px solid var(--gray);
  padding: 8px 12px;
}

.note-creator-modal h4 {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.21px;
  text-transform: uppercase;
  color: var(--gray-light);
  margin: 0;
}

.note-creator-relay {
  background-color: var(--gray-dark);
  border-radius: 12px;
}

.note-creator textarea {
  border: none;
  outline: none;
  resize: none;
  padding: 0;
  border-radius: 0;
  margin: 8px 12px;
  background-color: var(--gray-superdark);
  min-height: 100px;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  max-height: 210px;
}

.note-creator textarea::placeholder {
  color: var(--font-secondary-color);
  font-size: var(--font-size);
  line-height: 24px;
}

.note-creator.poll textarea {
  min-height: 120px;
}

.note-creator .error {
  position: absolute;
  left: 16px;
  bottom: 12px;
  color: var(--error);
  margin-right: 12px;
  font-size: 16px;
}

.note-creator-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.note-creator-icon.pfp .avatar {
  width: 32px;
  height: 32px;
}

.note-creator-modal .rti--container {
  background-color: unset !important;
  box-shadow: unset !important;
  border: 2px solid var(--border-color) !important;
  border-radius: 12px !important;
  padding: 4px 8px !important;
}

.note-creator-modal .rti--tag {
  color: black !important;
  padding: 4px 10px !important;
  border-radius: 12px !important;
  display: unset !important;
}

.note-creator-modal .rti--input {
  width: 100% !important;
  border: unset !important;
}

.note-creator-modal .rti--tag button {
  padding: 0 0 0 var(--rti-s);
}
