.tabs {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* Firefox */
  white-space: nowrap;
  gap: 8px;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.light .tab {
  border: 1px solid var(--border-color);
}

.tab.active {
  background: var(--gray-superdark);
}

.light .tab.active {
  background: #fff;
  border-color: #bfc6d6;
}

.tab {
  background: var(--gray-ultradark);
  color: var(--font-secondary-color);
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 6px;
}

.tab.active {
  color: var(--font-color);
}

.tabs > div {
  cursor: pointer;
}

.tab.disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.tab:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
}
