.avatar {
  @apply rounded-full;
  height: 210px;
  width: 210px;
  background-color: var(--gray);
  z-index: 2;
}

.avatar[data-domain="iris.to"],
.avatar[data-domain="snort.social"] {
  background-image: var(--img-url), var(--snort-gradient);
}

.avatar .overlay {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.avatar .icons {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  transform: rotate(-135deg) translateY(50%);
}
