.root-type {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.root-type > button {
  background: none;
  color: var(--font-color);
  font-size: 16px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: none;
  box-shadow: none;
}

.root-type > button:hover {
  box-shadow: none !important;
}
