.profile-card {
  width: 360px;
  border-radius: 16px;
  background: var(--gray-superdark);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.profile-card > div {
  color: white;
  padding: 8px 12px;
}
