.pfp {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  text-decoration: none;
  user-select: none;
  min-width: 0;
  gap: 8px;
}

.pfp .avatar {
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
}

a.pfp {
  text-decoration: none;
}

.pfp .username {
  font-weight: 600;
}

.pfp .profile-name {
  max-width: stretch;
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

.pfp a {
  text-decoration: none;
}

.pfp .icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  padding: 4px;
  border-radius: 100%;
  background-color: var(--gray-superdark);
  transform: rotate(135deg);
}

.profile-card {
  width: 360px;
  border-radius: 16px;
  background: var(--gray-superdark);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}

.profile-card > div {
  color: white;
  padding: 8px 12px;
}
