.text iframe[src*="youtube.com"] {
  aspect-ratio: 16/9;
}

.gallery-item div {
  height: 100%;
  margin: 0;
}

.gallery-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: block;
  border-radius: 0;
}
