.rta__autocomplete {
  z-index: 99;
}

.rta__list {
  border-radius: 1rem;
  border-color: var(--color-layer-2);
  overflow: hidden;
  background: var(--color-layer-1);
}

.rta__item:not(:last-child) {
  border: none;
}

.rta__item {
  background: none;
}

.rta__entity {
  background: none;
}

.rta__entity--selected {
  text-decoration: none;
  background: var(--color-layer-2);
}
