.rta__autocomplete {
  z-index: 99;
}

.rta__list {
  border: none;
}

.rta__item:not(:last-child) {
  border: none;
}

.rta__entity--selected .user-item,
.rta__entity--selected .emoji-item {
  text-decoration: none;
  background: var(--gray-secondary);
}

.user-picture .avatar {
  border-width: 1px;
  width: 40px;
  height: 40px;
}

.user-item .nip05 {
  font-size: var(--font-size-tiny);
}
