.copy {
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.copy .body {
    font-family: monospace;
    font-size: 14px;
    background: var(--note-bg);
    color: var(--font-color);
    padding: 2px 4px;
    border-radius: 10px;
    margin: 0 4px 0 0;
}
