.note-invoice {
    background: var(--bg-color);
    border-radius: 10px;
    border: 1px solid var(--gray-tertiary);
    padding: 12px;
    margin: 10px auto;
}

.note-invoice h2, .note-invoice h4, .note-invoice p {
    margin: 10px 0;
}

.note-invoice small {
    color: var(--gray-medium);
}
