.note-invoice {
    border-radius: 10px;
    border: 1px solid #444;
    padding: 10px;
}

.note-invoice h2, .note-invoice h4, .note-invoice p {
    margin: 10px 0;
}

.note-invoice small {
    color: #666;
}