.nip05 {
    justify-content: flex-start;
    align-items: center;
    margin: .2em;
}

.nip05.failed {
    text-decoration: line-through;
}

.nip05 .nick {
    color: var(--font-secondary-color);
    font-weight: bold;
}

.nip05 .badge {
     margin: .1em .2em;
}
