.nip05 {
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin: .2em;
}

.nip05 .nick {
    color: var(--gray-light);
}

.nip05 .domain {
    color: var(--gray-superlight);
}

.nip05 .badge {
     margin-left: .2em;
     margin-top: .1em;
}
