.nip05 {
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin: .2em;
}

.nip05 .nick {
    color: var(--gray-light);
    font-weight: bold;
    margin-right: .2em;
}

.nip05 .domain {
    color: var(--gray-superlight);
    font-weight: bold;
}

.nip05 .domain[data-domain="snort.social"] {
    background: var(--snort-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.nip05 .domain[data-domain="nostrplebs.com"] {
    background: var(--nostrplebs-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.nip05 .domain[data-domain="nostrpurple.com"] {
    background: var(--nostrplebs-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.nip05 .domain[data-domain="nostr.fan"] {
    background: var(--nostrplebs-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.nip05 .domain[data-domain="nostrich.zone"] {
    background: var(--nostrplebs-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.nip05 .domain[data-domain="nostriches.net"] {
    background: var(--nostrplebs-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.nip05 .badge {
     margin: .1em .2em;
}
