.reaction {
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}

.reaction > .note {
    margin: 5px;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 5px;
}

.reaction > .header > .pfp {
    flex-grow: 1;
}

.reaction > .header .reply {
    font-size: small;
}

.reaction > .header > .info {
    font-size: small;
}