.note {
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--note-bg);
    padding: 20px;
    min-height: 180px;
}

.note.thread {
    border-bottom: none;
}

.note > .header > .pfp {
    flex-grow: 1;
}

.note > .header .reply {
    font-size: 12px;
    color: var(--gray-light);
}

.note > .header > .info {
    font-size: 10px;
    white-space: nowrap;
    color: var(--gray-light);
    align-self: flex-start;
}

.note > .body {
    padding: 10px 5px;
    white-space: pre-wrap;
    overflow: hidden;
    word-break: normal;
}

.note > .header img:hover, .note > .header .name > .reply:hover, .note .body:hover {
    cursor: pointer;
}

.note > .footer {
    padding: 10px 0;
    text-align: right;
}

.indented {
    border-left: 3px solid var(--gray-tertiary);
    padding-left: 2px;
}

.indented .active {
    background-color: var(--gray-tertiary);
    margin-left: -5px;
    border-left: 3px solid var(--highlight);
}

.indented .note {
    border-bottom: none;
    padding: 4px;
}
