.reaction {
    margin-bottom: 10px;
}

.reaction > .note {
    margin: 10px 20px;
    border: 1px solid var(--gray);
    border-radius: 10px;
    padding: 10px;
}

.reaction > .header > .pfp {
    flex-grow: 1;
}

.reaction > .header .reply {
    font-size: small;
}

.reaction > .header > .info {
    color: var(--gray-tertiary);
    font-size: small;
    align-self: flex-start;
}

.reaction .reaction-text {
    margin-left: .2em;
    color: var(--gray-light);
}
