.note {
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}

.note.active {
    background-color: #222;
}

.note > .header > .pfp {
    flex-grow: 1;
}

.note > .header .reply {
    font-size: small;
    color: #999;
}

.note > .header > .info {
    font-size: small;
    white-space: nowrap;
    color: #999;
}

.note > .body {
    padding: 10px 5px;
    white-space: pre-wrap;
    overflow: hidden;
    word-break: normal;
}

.note > .body > img, .note > .body > video, .note > .body > iframe {
    max-width: 100%;
    max-height: 500px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.note > .header > img:hover, .note > .header > .name > .reply:hover, .note > .body:hover {
    cursor: pointer;
}

.note > .footer {
    padding: 10px 0;
    text-align: right;
}

.indented {
    border-left: 3px solid #444;
    padding-left: 2px;
}