.pfp {
    display: flex;
    align-items: center;
}

.pfp > img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.pfp a {
    text-decoration: none;
}

.pfp a:hover {
    text-decoration: underline;
}
