.pfp {
    display: flex;
    align-items: center;
}

.pfp img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.pfp a {
    text-decoration: none;
}

.pfp a:hover {
    text-decoration: underline;
    text-decoration-color: var(--gray-superlight);
}

.pfp .profile-name {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.pfp .nip05 {
  margin: 0;
  margin-top: -.2em;
}
