.pfp {
    display: flex;
    align-items: center;
}

.pfp .avatar-wrapper {
  margin-right: 6px;
}

.pfp .avatar {
    border-width: 1px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.pfp a {
    text-decoration: none;
}

.pfp a:hover {
    text-decoration: underline;
    text-decoration-color: var(--gray-superlight);
}

.pfp .profile-name {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.pfp .nip05 {
  margin: 0;
  margin-top: -.2em;
}
