.tabs {
  display: flex;
  align-items: center;
  flex-direction: row;
  overflow-x: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* Firefox */
  margin-bottom: 18px;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  color: var(--font-tertiary-color);
  border: 1px solid var(--font-tertiary-color);
  border-radius: 16px;
  text-align: center;
  font-weight: 600;
  line-height: 19px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-right: 12px;
}

.tab.active {
  border-color: var(--font-color);
  color: var(--font-color);
}

.tabs > div {
  cursor: pointer;
}

.tab.disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}
