.text a {
    color: var(--highlight);
}

.text h1 {
    margin: 0;
}
.text h2 {
    margin: 0;
}
.text h3 {
    margin: 0;
}
.text h4 {
    margin: 0;
}
.text h5 {
    margin: 0;
}
.text h6 {
    margin: 0;
}

.text p {
    margin: 0;
    margin-bottom: 4px;
}

.text pre {
    margin: 0;
}

.text ul, .text ol {
    margin: 0;
}

.text li {
    margin-top: -1em;
}
.text li:last-child {
    margin-bottom: -2em;
}

.text hr {
    border: 0;
    height: 1px;
    background-image: var(--gray-gradient);
    margin: 20px;
}

.text img, .text video, .text iframe {
    max-width: 100%;
    max-height: 500px;
    margin: 10px auto;
    display: block;
    border-radius: 12px;
}

.text iframe, .text video {
    width: -webkit-fill-available;
    aspect-ratio: 16 / 9;
}

.text .truncate {
    display: inline-block;
    margin: 0;
    max-width: 260px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--highlight);
    height: var(--font-size);
}

@media (min-width: 420px) {
  .text .truncate {
    max-width: 300px;
  }
}

@media (min-width: 520px) {
  .text .truncate {
    max-width: 360px;
  }
}

@media (min-width: 720px) {
  .text .truncate {
    max-width: 420px;
  }
}

@media (min-width: 1024px) {
  .text .truncate {
    max-width: 600px;
  }
}
