.rta {
  overflow: visible;
}

.rta__entity {
  background: var(--gray);
  padding: 4px 8px;
}

.rta__entity--selected {
  color: var(--font-color);
  background: var(--gray-secondary);
}

.rta__list {
  border: 1px solid var(--gray-tertiary);
}

.rta__item:not(:last-child) {
  border-bottom: 1px solid var(--gray-tertiary);
}

.user-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
}

.user-item .picture {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

.user-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nip05 {
  font-size: 12px;
}
