.logo {
  cursor: pointer;
}

.unread-count {
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 100%;
  position: relative;
  padding: 3px;
  line-height: 1.5em;
  top: -10px;
  left: -10px;
  font-size: var(--font-size-small);
  background-color: var(--error);
  color: var(--note-bg);
  font-weight: bold;
  text-align: center;
}
