.profile {
    align-items: flex-start;
}

.profile > div:last-child {
    margin-left: 10px;
}

.profile p {
    white-space: pre-wrap;
}

.profile .name h2 {
    margin: 0;
}

.profile .avatar-wrapper {
    margin: auto 10px;
}

.profile .avatar {
    border-radius: 50%;
    height: 256px;
    width: 256px;
    background-image: var(--img-url), var(--gray-gradient);
    border: 4px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
}

.profile .avatar[data-domain="snort.social"] {
    background-image: var(--img-url), var(--snort-gradient);
}

.profile .avatar[data-domain="nostrplebs.com"] {
    background-image: var(--img-url), var(--nostrplebs-gradient);
}

.profile .details {
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}

.profile .website {
    padding-left: 0;
    color: var(--highlight);
    margin-bottom: 2px;
}

.profile .lnurl {
    padding-left: 0;
}

.profile .btn-icon {
  padding: 6px;
  margin-left: 4px;
}

.profile .website::before {
    content: '🔗 ';
    font-size: 10px;
}

.profile a {
    color: var(--highlight);
}

.profile .lnurl::before {
    content: '⚡️ ';
    font-size: 10px;
}

@media(max-width: 720px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
    .profile > div:last-child { 
        margin: 5px 0;
        width: 100%;
    }
}

@media(max-width: 360px) {
      .profile .name { flex-direction: column; }
      .profile .name .btn {
          margin-top: 5px;
      }
}

.tabs {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 10px 0;
}

.tabs > div {
  margin-right: 0;
}

.tab {
    margin: 0;
    padding: 8px 0;
    border-bottom: 3px solid var(--gray-secondary);
}
.tab.active {
    border-bottom: 3px solid var(--highlight);
}
