.profile {
    display: flex;
}

.profile > div:last-child {
    flex-grow: 1;
    margin-left: 10px;
}

.profile .avatar {
    width: 256px;
    height: 256px;
    background-size: contain;
    cursor: pointer;
}

.profile .avatar .edit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: black;
}

.profile .avatar .edit:hover {
    opacity: 0.5;
}