.modal.spotlight .modal-body {
  border: none;
  border-radius: unset;
  width: unset;
  height: unset;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.spotlight img,
.spotlight video {
  max-width: 100vw;
  max-height: 99vh;
  aspect-ratio: unset;
  width: unset !important;
}

.spotlight .details {
  text-align: right;
  position: absolute;
  top: 28px;
  right: 28px;
  gap: 18px;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  align-items: center;
  user-select: none;
}

.spotlight .left {
  position: absolute;
  left: 24px;
  top: 50vh;
  transform: rotate(180deg);
}

.spotlight .right {
  position: absolute;
  right: 24px;
  top: 50vh;
}
