.note-creator {
  border: 1px solid transparent;
  border-radius: 12px;
  box-shadow: 0px 0px 6px 1px rgba(182, 108, 156, 0.3);
  background:
    linear-gradient(var(--gray-superdark), var(--gray-superdark)) padding-box,
    linear-gradient(90deg, #ef9644, #fd7c49, #ff5e58, #ff3b70, #ff088e, #eb00b1, #c31ed5, #7b41f6) border-box;
}

.note-creator-modal .modal-body > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.note-creator-modal .note.card {
  padding: 0;
  border: none;
  min-height: unset;
}

.note-creator-modal .note.card.note-quote {
  border: 1px solid var(--gray);
  padding: 8px 12px;
}

.note-creator-modal h4 {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.21px;
  text-transform: uppercase;
  color: var(--gray-light);
  margin: 0;
}

.note-creator-relay {
  background-color: var(--gray-dark);
  border-radius: 12px;
}

.note-creator textarea {
  border: none;
  outline: none;
  resize: none;
  padding: 0;
  border-radius: 0;
  margin: 8px 12px;
  background-color: var(--gray-superdark);
  min-height: 100px;
  width: stretch;
  width: -webkit-fill-available;
  width: -moz-available;
  max-height: 210px;
}

.note-creator textarea::placeholder {
  color: var(--font-secondary-color);
  font-size: var(--font-size);
  line-height: 24px;
}

.note-creator.poll textarea {
  min-height: 120px;
}

.note-creator .error {
  position: absolute;
  left: 16px;
  bottom: 12px;
  color: var(--error);
  margin-right: 12px;
  font-size: 16px;
}

.note-creator-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.note-creator-icon.pfp .avatar {
  width: 32px;
  height: 32px;
}

.light .note-creator textarea {
  background-color: var(--gray-superdark);
}

.light .note-creator {
  box-shadow: 0px 0px 6px 1px rgba(182, 108, 156, 0.3);
  background:
    linear-gradient(var(--gray-superdark), var(--gray-superdark)) padding-box,
    linear-gradient(90deg, #ef9644, #fd7c49, #ff5e58, #ff3b70, #ff088e, #eb00b1, #c31ed5, #7b41f6) border-box;
}
