.thread-container .hidden-note {
  margin: 0;
  border-radius: 0;
}

.thread-root.note {
  box-shadow: none;
}

.thread-root.note > .body .text {
  font-size: 18px;
  line-height: 27px;
}

.thread-root.note > .footer {
  padding-left: 0;
}

.thread-root.note {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
}

.thread-note.note {
  border: 0;
}

.thread-note.note .zaps-summary,
.thread-note.note .footer,
.thread-note.note .body {
  margin-left: 61px;
}

.thread-container .hidden-note {
  margin: 0;
  border-radius: 0;
}

.thread-container .show-more {
  background: var(--gray-superdark);
  padding-left: 76px;
  width: 100%;
  text-align: left;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subthread-container {
  position: relative;
}

.subthread-container.subthread-multi .line-container:before {
  content: "";
  position: absolute;
  left: calc(48px / 2 + 16px);
  top: 48px;
  border-left: 1px solid var(--border-color);
  height: 100%;
  z-index: 1;
}

.subthread-container.subthread-mid:not(.subthread-last) .line-container:before {
  content: "";
  position: absolute;
  border-left: 1px solid var(--border-color);
  left: calc(48px / 2 + 16px);
  top: 0;
  height: 48px;
  z-index: 1;
}

.subthread-container.subthread-last .line-container:before {
  content: "";
  position: absolute;
  border-left: 1px solid var(--border-color);
  left: calc(48px / 2 + 16px);
  top: 0;
  height: 48px;
  z-index: 1;
}

.divider {
  height: 1px;
  background: var(--border-color);
}

.divider.divider-small {
  margin-left: calc(16px + 61px);
  margin-right: 16px;
}

.thread-container .collapsed,
.thread-container .show-more-container {
  min-height: 48px;
}

.thread-container .hidden-note {
  padding-left: 48px;
}
