.deck-layout {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

.deck-layout .deck-cols {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: auto;
}

.deck-layout .deck-cols .deck-col-header {
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  font-size: 20px;
  font-weight: 700;
  min-height: 40px;
  max-height: 40px;
}

.deck-layout .deck-cols .deck-col-header:not(:last-of-type) {
  border-right: 0;
}

.deck-layout .deck-cols > div {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 550px;
  min-width: 550px;
}

.deck-layout .deck-cols > div > div:not(:first-of-type) {
  overflow-y: scroll;
}
