.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--modal-bg-color);
  display: flex;
  justify-content: center;
  z-index: 42;
  overflow-y: auto;
}

.modal-body {
  background-color: var(--gray-superdark);
  padding: 24px 12px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  --border-color: var(--gray);
  max-width: 100%;
}

@media (min-width: 600px) {
  .modal-body {
    padding: 24px;
    width: 600px;
  }
}
@media (max-width: 600px) {
  .modal-body {
    min-width: 100%;
  }
}

.modal-body button.secondary:hover {
  background-color: var(--gray);
}

.light .modal-body {
  background-color: #fff;
}

.modal.spotlight {
  color: #fff;
}
