.spinner-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.spinner-button > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.light .spinner-button {
  border: 1px solid var(--border-color);
  color: var(--font-secondary);
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 1px;
}

.light .spinner-button:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
}

@media (prefers-color-scheme: light) {
.light .spinner-button > span {
    color: black;
  }
}