.avatar {
  border-radius: 50%;
  height: 210px;
  width: 210px;
  background-image: var(--img-url);
  border: 1px solid transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  background-color: var(--gray);
}

.avatar[data-domain="snort.social"] {
  background-image: var(--img-url), var(--snort-gradient);
}

.avatar[data-domain="strike.army"] {
  background-image: var(--img-url), var(--strike-army-gradient);
}

.avatar .overlay {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
}

.avatar .icons {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  transform: rotate(-135deg) translateY(50%);
}

.avatar .icons > .icon-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center;
  padding: 4px;
  border-radius: 100%;
  background-color: var(--gray-superdark);
  transform: rotate(135deg);
}