.back-button {
  background: none;
  padding: 0;
  color: var(--highlight);
  font-weight: 400;
  font-size: var(--font-size);
  display: flex;
  align-items: center;
  border: none !important;
  box-shadow: none !important;
}

.back-button svg {
  margin-right: 0.5em;
}

.back-button:hover:hover,
.light .back-button:hover {
  text-decoration: underline;
  box-shadow: none !important;
  background: none !important;
}
