.link-preview-container {
  border-radius: 12px;
  background: #151515;
  overflow: hidden;
}

.link-preview-container:hover {
  cursor: pointer;
}

.link-preview-container > a {
  text-decoration: none;
}

.link-preview-title {
  padding: 0 10px 10px 10px;
  line-height: 21px;
}

.link-preview-title > h1 {
  padding: 0;
  font-size: 16px;
  font-weight: 700;
}

.link-preview-container:hover .link-preview-title > h1 {
  color: var(--highlight);
}

.link-preview-title > small {
  color: var(--font-secondary-color);
  font-size: 14px;
}

.link-preview-title > small.host {
  font-size: 12px;
}

.link-preview-image {
  margin: 0 0 15px 0 !important;
  border-radius: 0 !important;
  background-image: var(--img-url);
  min-height: 220px;
  max-height: 500px;
  background-size: cover;
  background-position: center;
}

.light .link-preview-container {
  background: #fff;
  border: 1px solid var(--border-color);
}

.light .link-preview-container:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
}

@media (min-width: 1025px) {
  .link-preview-image {
    min-height: 342px;
  }
}
