.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--modal-bg-color);
  display: flex;
  justify-content: center;
  z-index: 42;
  overflow-y: auto;
}

.modal-body {
  background-color: var(--gray-superdark);
  padding: 16px 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: auto;
  margin-bottom: auto;
}

.modal-body button:hover {
  background-color: var(--gray);
}
