.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--modal-bg-color);
  display: flex;
  justify-content: center;
  z-index: 42;
  overflow-y: auto;
}

.modal-body {
  background-color: var(--gray-superdark);
  padding: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-top: auto;
  margin-bottom: auto;
  --border-color: var(--gray);
}

.modal-body button.secondary:hover {
  background-color: var(--gray);
}

.light .modal-body {
  background-color: #fff;
}

.modal.spotlight {
  color: #fff;
}
