.progress {
  position: relative;
  height: 1em;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--gray);
}

.progress > div {
  position: absolute;
  background-color: var(--success);
  width: var(--progress);
  height: 100%;
}

.progress > span {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: small;
  line-height: 1em;
}
