.root-type {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .root-type > button {
    background: white;
    color: black;
    font-size: 16px;
    padding: 10px 16px;
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  