.lnurl-modal .modal-body {
  padding: 12px 24px;
  max-width: 500px;
}

.lnurl-modal .pfp .avatar {
  width: 48px;
  height: 48px;
}

@media (max-width: 720px) {
  .lnurl-modal {
    padding: 12px 16px;
  }
}

.lnurl-modal h2 {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

.lnurl-modal h3 {
  margin: 0;
  color: var(--font-secondary-color);
  font-size: 11px;
  letter-spacing: 0.11em;
  font-weight: 600;
  line-height: 13px;
  text-transform: uppercase;
}

.amounts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.sat-amount {
  text-align: center;
  background-color: #2a2a2a;
  color: var(--font-color);
  padding: 12px 16px;
  border-radius: 100px;
  user-select: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.light .sat-amount {
  background-color: var(--gray);
}

.sat-amount.active {
  font-weight: bold;
  color: var(--gray-superdark);
  background-color: var(--font-color);
}

.lnurl-modal canvas {
  border-radius: 10px;
}

.lnurl-modal .success-action .paid {
  font-size: 19px;
}

.lnurl-modal .success-action a {
  color: var(--highlight);
  font-size: 19px;
}
