.tabs {
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  text-align: center;
  user-select: none;
}

.tabs::-webkit-scrollbar {
  display: none;
}

.tab {
  flex: 1;
  padding: 16px;
  color: var(--font-tertiary-color);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.2px;
}

.tab.active {
  border-bottom: 1px solid var(--highlight);
  color: var(--font-color);
}

.tabs > div {
  cursor: pointer;
}

.tab.disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}

.tab:hover {
  border-color: var(--highlight);
}
