.text {
  font-size: var(--font-size);
  line-height: 24px;
}

.text .text-frag {
  text-overflow: ellipsis;
  white-space: pre-wrap;
  display: inline;
  overflow-wrap: break-word;
}

.text .text-frag > a {
  color: var(--highlight);
  text-decoration: none;
}

.text .text-frag > a:hover {
  text-decoration: underline;
}

.text .text-frag .hashtag:hover {
  text-decoration: underline;
}

.text pre {
  margin: 0;
  overflow: scroll;
}

.text img:not(.custom-emoji),
.text video,
.text iframe,
.text audio {
  max-width: 100%;
  display: block;
  max-height: 800px;
  margin-left: auto;
  margin-right: auto;
}

.gallery {
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  display: grid;
  list-style: none;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  margin: 10px 0;
}

.gallery-item {
  display: block;
  position: relative;
  margin: 0;
}

.gallery-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.gallery:not(:first-child),
img:not(:first-child),
video:not(:first-child),
.link-preview-container:not(:first-child) {
  margin-top: 10px;
}
