@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --font-color: #FFF;
    --bg-color: #000;
    --modal-bg-color: rgba(0,0,0, 0.8);
    --gray-superlight: #EEE;
    --gray-light: #999;
    --gray-medium: #666;
    --gray: #333;
    --gray-secondary: #222;
    --gray-tertiary: #444;
    --highlight: #A9E000;
    --error: #FF6053;
    --success: #2AD544;
}

@media (prefers-color-scheme: light) {
  :root {
     --font-color: #000;
     --bg-color: #FFF;
     --highlight: #FF9B00;
     --modal-bg-color: rgba(240, 240, 240, 0.8);
     --gray: #CCC;
     --gray-secondary: #DDD;
     --gray-tertiary: #EEE;
     --gray-superlight: #333;
     --gray-light: #555;
  }
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.page > .header {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.page > .header > div:nth-child(1) {
  font-size: x-large;
  flex-grow: 1;
}

.page > .header > div:nth-child(2) {
  display: flex;
  align-items: center;
}

.btn { 
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: var(--bg-color);
  border: 1px solid;
  display: inline-block;
}

.btn-warn {
  border-color: var(--error);
}

.btn-success {
  border-color: var(--success);
}

.btn.active {
  border: 2px solid;
  background-color: var(--gray-secondary);
  color:  var(--font-color);
  font-weight: bold;
}

.btn:hover {
  background-color: var(--gray);
}

.btn-sm {
  padding: 5px;
}

.btn-rnd {
  border-radius: 25px;
}

textarea {
  font: inherit;
}

input[type="text"], input[type="password"], input[type="number"], textarea {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: var(--gray);
  color: var(--font-color);
}

textarea:placeholder {
  color: var(--gray-superlight);
}

.flex {
  display: flex;
  align-items: center;
  min-width: 0;
}

.f-center {
  justify-content: center;
}

.f-1 {
  flex: 1;
}

.f-2 {
  flex: 2;
}

.f-grow {
  flex-grow: 1;
}

.f-ellipsis {
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 15px;
}

.f-col {
  flex-direction: column;
  align-items: flex-start !important;
}

.w-max {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
}

a {
  color: inherit;
  line-height: 1.3em;
}

span.pill {
  display: inline-block;
  background-color: var(--gray);
  padding: 2px 10px;
  border-radius: 10px;
  user-select: none;
  margin: 2px 5px;
}

span.pill.active {
  background-color: var(--gray-tertiary);
  color:  var(--font-color);
  font-weight: bold;
}

span.pill:hover {
  cursor: pointer;
}

@media(max-width: 720px) {
  .page {
    width: calc(100vw - 20px);
    margin: 0 10px;
  }
}

div.form-group {
  display: flex;
  align-items: center;
}

div.form-group > div {
  padding: 3px 5px;
  word-break: break-word;
}

div.form-group > div:nth-child(1) {
  min-width: 100px;
}

div.form-group > div:nth-child(2) {
  display: flex;
  flex-grow: 1;
  justify-content: end;
}

div.form-group > div:nth-child(2) input {
  flex-grow: 1;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
}

.modal .modal-content {
  display: flex;
  justify-content: center;
}

.modal .modal-content > div {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--gray);
  margin-top: 5vh;
}

body.scroll-lock {
  overflow: hidden;
  height: 100vh;
}

.mr10 {
  margin-right: 10px;
}

.ml5 {
  margin-left: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.tabs {
  display: flex;
  align-content: center;
  text-align: center;
  margin: 10px 0;
  overflow-x: auto;
}

.tabs > div {
  margin-right: 10px;
  cursor: pointer;
}

.tabs > div:last-child {
  margin: 0;
}

.error {
  color: var(--error);
}

.bg-error {
  background-color: var(--error);
}

.bg-success {
  background-color: var(--success);
}

.root-tabs {
    padding: 0;
    align-items: center;
    justify-content: flex-start;
}

.root-tab {
    border-bottom: 3px solid var(--gray-secondary);
}
.root-tab.active {
    border-bottom: 3px solid var(--highlight);
}
