@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.page > .header {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.page > .header > div:nth-child(1) {
  font-size: x-large;
  flex-grow: 1;
}

.page > .header > div:nth-child(2) {
  display: flex;
  align-items: center;
}

.btn { 
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #000;
  border: 1px solid;
  display: inline-block;
}

.btn.active {
  border: 2px solid;
  background-color: #222;
  font-weight: bold;
}

.btn:hover {
  background-color: #333;
}

.btn-sm {
  padding: 5px;
}

.btn-rnd {
  border-radius: 25px;
}

input[type="text"], input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #333;
  color: #eee;
}

.flex {
  display: flex;
}

.f-center {
  align-items: center;
}

.f-grow {
  flex-grow: 1;
}

a {
  color: inherit;
  line-height: 1.3em;
}

span.pill {
  display: inline-block;
  background-color: #333;
  padding: 0 10px;
  border-radius: 10px;
  user-select: none;
  margin: 2px 5px;
}

span.pill:hover {
  cursor: pointer;
}

@media(max-width: 720px) {
  .page {
    width: calc(100vw - 20px);
    margin: 0 10px;
  }
}

div.form-group {
  display: flex;
  align-items: center;
}

div.form-group > div {
  padding: 3px 5px;
  word-break: break-word;
}

div.form-group > div:first-child {
  flex-grow: 1;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
}

.modal .modal-content {
  display: flex;
  justify-content: center;
}

.modal .modal-content > div {
  padding: 10px;
  border-radius: 10px;
  background-color: #333;
  margin-top: 5vh;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.mr10 {
  margin-right: 10px;
}

.tabs {
  display: flex;
  margin: 10px 0;
  overflow-x: auto;
}

.tabs > div {
  margin-right: 10px;
}