name: Formatting
on:
  pull_request:
jobs:
  formatting:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install Dependencies
        run: yarn Install
      - name: Check Formatting
        run: yarn prettier --check .
